CorreiosDaniloCarvalho/WebContent/wsdl/PostmanDaniloCarvalho.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pos.soa.inatel.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pos.soa.inatel.br" xmlns:intf="http://pos.soa.inatel.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pos.soa.inatel.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calcDeadline">
    <complexType>
     <sequence>
      <element name="cepOrign" type="xsd:string"/>
      <element name="cepDest" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calcDeadlineResponse">
    <complexType>
     <sequence>
      <element name="calcDeadlineReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calcDeadlineResponse">

      <wsdl:part element="impl:calcDeadlineResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calcDeadlineRequest">

      <wsdl:part element="impl:calcDeadline" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PostmanDaniloCarvalho">

      <wsdl:operation name="calcDeadline">

         <wsdl:input message="impl:calcDeadlineRequest" name="calcDeadlineRequest">

       </wsdl:input>

         <wsdl:output message="impl:calcDeadlineResponse" name="calcDeadlineResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PostmanDaniloCarvalhoSoapBinding" type="impl:PostmanDaniloCarvalho">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calcDeadline">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calcDeadlineRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calcDeadlineResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PostmanDaniloCarvalhoService">

      <wsdl:port binding="impl:PostmanDaniloCarvalhoSoapBinding" name="PostmanDaniloCarvalho">

         <wsdlsoap:address location="http://localhost:8080/CorreiosDaniloCarvalho/services/PostmanDaniloCarvalho"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
